/* ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background-color: #606dde;
    height: 100vh;

}

main{
    margin-bottom: 30px;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
}

.info{
    height: 30px;
    font-size: 12px;
    
}

h2{
    color: #000000;
    font-size: 38px;
    text-align: center;
    margin-top: 220px;
}

/*ESTILO DO CABEÇALHO*/

header{
    padding: 20px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-items: center;
} 

header a{
    color: #929292;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    margin-left: 100px;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #3b82f6;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px  8px #3c72c9 ;
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    padding: 40px 4%;
}

.topo-do-site{
    display: flex;
    align-items: center;
}


/* section.topo-do-site .flex{

    align-items: center;
    justify-content: center;
    gap: 90px;
} */

.topo-do-site .txt-topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-do-site h1 span{
    color: #3b82f6;
}

.topo-do-site .txt-topo-do-site p{
    color: #fff;
    font-size: 20px;
    margin: 40px 0;
}

        /*API*/
#container{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-top:200px;
    margin:400px;
           }
#search{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 4px 12px;
}           
#search input{
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%
}
#search button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
    
#weather{
    display: none;
    margin-top: 20px;
    }
    
#weather.show{
    display: block;
    }
    
#weather #title{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #372f3f;
    }
    
#temp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: linear-gradient(90deg, #5a7cdc, #606dde);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    }
    
#tem_img{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    }
    
#temp_value{
    font-weight: bold; 
    font-size: 50px;
    line-height: 55px;
    }
    
#temp_description{
    font-weight: 500;
    text-transform: capitalize;
    }
    
#other_infos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    }
    
#other_infos .info{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;  
    gap: 10px;
    }
    
#other_infos .info .h2{
    font-size: 12px;
    font-weight: 600;
    }
    
#other_infos .info .i{
    text-align: center;
    font-size: 20px;
    width: 20%
    }
    
#temp_max_icon{
    color: #7f1d1d;   
 }   

 #temp_min_icon{
    color: #0284c7;   
 }   

 #humidity_icon{
    color: #0ea5e9;   
 }   

 #wind_icon{
    color: #7c3aed;   
 }   

 #alert{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #alert img{
    width: 200px;
    margin-top: 20px;
 }
 /*FIM DA API*/
 /* ESTILO DOS INFORMATIVOS*/

 section.informativos{
    padding: 40px 4%;
 }

 section.informativos .flex{
    gap: 60px;
 }

 .informativos .informativos-box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: 0.2s;
 }

 .informativos .informativos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #0285c76b;
 }

 .informativos .informativos-box i{
    font-size: 70px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 28px;
    margin: 15px 0;
 }

/*  body > main > section.Informativos > div > div > div:nth-child(1){
    background-color:#fff;
    border-radius: 20px;
    height: 135px;
    margin: auto;
    width: 350px;
    text-align: center;

 }

 body > main > section.Informativos > div > div > div:nth-child(2){
    background-color:#fff;
    border-radius: 20px;
    height: 135px;  
    margin: auto;
    width: 350px;
    text-align: center;

 }

 body > main > section.Informativos > div > div > div:nth-child(3){
    background-color:#fff;
    border-radius: 20px;
    height: 135px;  
    margin: auto;
    width: 350px;
    text-align: center;

 } */
 /* FIM ESTILO DOS INFORMATIVOS*/